:root
{
    /* Color Palette */
    --black: #1E1E1E;
    --white: #FFFFFF;
    --navy-blue: #000020;
    --navy-blue-light: #191936;
    --warm-pink: #EE4266;
    --orange: #FF9100;

    /* Theme Colors */
    --background: var(--black);
    --background-text: var(--white);

    --surface: var(--navy-blue);
    --surface-text: var(--white);

    --itemcont: var(--navy-blue-light);
    --itemcont-text: var(--white);

    --text: var(--white);
    --text-inverse: var(--black);

    --primary: var(--white);
    --primary-text: var(--navy-blue);

    --accent: var(--warm-pink);
    --accent-text: var(--white);

    --secondary: var(--orange);
    --secondary-text: var(--white);
}

[data-theme="light"]
{
    --background: var(--white);
    --background-text: var(--black);

    --surface: var(--navy-blue);
    --surface-text: var(--white);

    --itemcont: var(--navy-blue-light);
    --itemcont-text: var(--white);

    --text: var(--black);
    --text-inverse: var(--white);

    --primary: var(--navy-blue);
    --primary-text: var(--white);

    --accent: var(--warm-pink);
    --accent-text: var(--white);

    --secondary: var(--orange);
    --secondary-text: var(--white);
}