body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 0;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    margin: auto;
    min-height: fit-content;
}

.itemcont
{
    flex: 10 5 0;
    min-height: 0;
    padding: 1px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    min-width: 300px;
    flex-grow: 1;
}

.item
{
    flex: 1 1 0;
    min-height: 0;
}

.chest
{
    flex: 1 1 0;
    min-height: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chest-img
{
    flex: 3 1 0;
    min-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chest-button
{
    flex: 1 1 0;
    min-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chest-img img
{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#chests
{
    flex: 1 1 0;
    min-height: 0;

    display: flex;
    gap: 3px;
    justify-content: space-between;
}

#inventory
{
    flex: 2 1 0;
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 3px;
}

footer
{
    justify-self: center;
    align-self: bottom;
    margin-top: 10px;
}

.menu
{
    width: 90vw;
    min-height: 50px;
    margin: 10px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.menu-section
{
    height: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
}

.menu-repository
{
    justify-content: flex-start;
}

.menu-info
{
    justify-content: center;
}

.menu-theme
{
    justify-content: flex-end;
}

.game-info
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.theme-icon
{
    width: 22px;
    height: 22px;

    display: block;
}

.theme-toggle
{
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}