@media only screen and (max-width: 768px)
{
    #shopgrid
    {
        border-radius: 10px 10px 0px 0px;
    }

    #playgrid
    {
        border-radius: 0px 0px 10px 10px;
    }

    .menu
    {
        border-radius: 10px;
    }

    .play-cell
    {
        border: 1px solid var(--accent);
    }
}

@media only screen and (max-width: 1200px)
{
    #chests
    {
        flex: 1 1 0;
    }

    #inventory
    {
        flex: 3 1 0;
    }
}