.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 2px;
    justify-content: center;
    background-color: bisque;
    height: 90vh;
    width: 90vw;
    justify-self: center;
}
.itemcont{
    background-color: aquamarine;
    height: 90%;
    width: 49%;
    padding: 1px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}

.item{
    background-color: rgb(141, 194, 155);
    width: 100%;
}

.chest-img{
    flex: 3;
    background-color: burlywood;
    height: 100%;
    width: 100%;
}

.chest-button{
    flex: 1;
    background-color: burlywood;
}

.chest{
    display:flex;
    gap: 3px;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

#chestrow{
    flex:1;
    display: flex;
    gap: 3px;
}

#inv{
    flex:2;
}

#playgrid{
    background-color: grey;
}